<!doctype html>
<html lang="en">

	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Project CSS -->
		<link rel="stylesheet" href="./css/styles.css">
		<!-- Favicon -->
		<link rel="icon" type="image/png" href="./favicon.png">
		
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		
		<!-- MaterializeCSS -->
		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">  
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		
		<!-- Global js -->
		<script src="./js/script.js"></script>
		
		<!-- Page-specific JS -->
		<script src="./js/{{ pagename }}.js"></script>
		
		<!-- Title -->
		<title>Eh</title>
		
	</head>

	<body class="blue-grey darken-4 white-text">
		
		<div class="row container brown">
			{{{ body }}}
		</div>
		
		
	</body>

</html>
